@import "normalice.styl"
@import "fonts.styl"

/* VARIABLES */

gris_claro = #D0D2D3
gris_oscuro = #818181 
gris_mas_oscuro = #333
varela = 'Varela Round'

body
	/*text-align center*/
	font-size 16px
	font-family: varela

a
	text-decoration none

img
	vertical-align top

li 
	list-style none

figure 
	margin 0

ul
	margin 0
	padding 0

.header, .songs, .songs-playing
	text-align center

.header
	border-bottom 2px solid gris_claro
	height 2.2em
	padding 0 0 1.625em 0
	position relative
	text-align center
	.logo, .menu
		display none
	.header-menuBtn
		color gris_oscuro
		left 1.5em
		position absolute
		top 35%
	.title
		height 3.825em
		line-height 3.825em
		color gris_mas_oscuro
		
.songs
	font-size 0 /* esto es para limpiar las propiedades de texto que tiene display:inline-block */
	padding: 1.4rem
	

.songs-container 
	display inline-block
	font-size 1rem
	padding 0 1em 0 0
	text-align left

	img
		width 128px

	&:nth-child(even)
		padding-right 0	

.songs-description-container
	text-align center
	.songs-title 
		margin-top 1em
		margin-bottom 0
		color gris_mas_oscuro

	.songs-description
		margin-top 0
		margin-bottom 1em
		color gris_claro

.songs-playing-container
	margin-top 2em
	.songs-playing
		&.small
			/*width 20em
			margin 0 auto*/
			text-align center
		.actions
			a
				color #fff
				font-size 1.8em
				margin-right 0.5em
		.controls
			a
				font-size 1.2em

				&:nth-child(even)
					color gris_mas_oscuro
				&:nth-child(odd)
					color gris_oscuro

		.songs-imageContainer 
			position relative

			img
				width 100%

			.actions
				background-color rgba(0, 0, 0, 0.3)
				bottom 0
				left 0
				padding 0.5em 0
				position absolute
				right 0
				text-align right
				width 100%
		.progress
			margin-top 1.25em
			position relative
	
			span
				font-size 0.75em
				color gris_oscuro

				&:first-child
					left 0
					position absolute
					top -5px
				&:last-child
					position absolute
					right 0
					top -5px
			.total
				background-color gris_claro
				border-radius 5px
				height 5px
				width 80%
				margin 0 auto
				.state
					background-color #CC2F6F
					border-radius 5px
					height 5px
					position relative
					width 30%
					.circle
						background-color black
						border-radius 50%
						bottom -2px
						height 10px
						position absolute
						right 0
						width 10px

	.songs-playing-list
		display none
 
 /* MEDIA QUERIES  */ 
 
 @media screen and (min-width:480px)
	
	.songs-container
		&:nth-child(even)
			padding-right 1em

	.songs-playing-container

		.songs-playing
			&.medium
				width auto
			.songs-imageContainer
				img
					width 100%

@media screen and (min-width:1000px)
	body
		background-color #f3f3f3
	.header
		background-color #fff
		border none
		height auto
		padding 1.625em 0 0 0
		overflow hidden
		position relative
		text-align left
		.logo
			.wrap
				overflow hidden
		.header-logo
			float left
			img
				width 121px
		.header-search
			float right
			.icon-search
				.header-searchBtn
					display none
		.header-user
			display block
			float right
			position relative
			width 20em
			&:after
				border-bottom 10px solid transparent
				border-left 10px solid transparent
				border-right 10px solid transparent
				border-top 10px solid gris_oscuro
				bottom 0
				content ""
				cursor pointer
				display inline-block
				position absolute
			.avatar 
				float left
				margin 0 0.5em 0 0
				img
					width 38px
					border-radius 50%
			span
				margin 0 0.5em 0 0
					
		.logo, .menu
			display block
		.menu
			background-color #f3f3f3
			border-top 1px solid gris_claro
			margin 1.625em 0 0 0
			overflow hidden
			.menu-list		
				li 
					float left
					&:last-child
						display: none
					&:nth-child(4)
						display: none	
					.menu-listLink
						color gris_mas_oscuro
						display block
						text-transform uppercase
						padding 1em 0 1em 0
						margin 0 1em
						&:hover, &.active
							border-top 4px solid gris_oscuro
							padding-top 0.75em
						&:first-child
							margin-left 0
						
		.title, .header-menuBtn
			display none
	.wrap
			max-width 1000px
			margin 0 auto
	.songs
		display none
	.songs-playing-container
		margin 4em auto 0 auto
		overflow hidden
		max-width 1000px
		width 62.5em
		.songs-playing
			&.large
				border-right 1px solid gris_claro
				float left
				padding-right 3.5em
				width 27em
			.songs-description-container
				display none

			.controls
				margin-top 2em

		.songs-playing-list
			display block
			float right
			max-width 507px
			width 29em
			.songs-description-container
				text-align left
				.songs-description
					color gris_oscuro
				.songs-title
					color gris_mas_oscuro
				.songs-description-list
					.item
						border-bottom 1px solid gris_claro
						padding 1.375em 0
						.icons 
							float right
						.action
							color gris_oscuro


		
	


	
