@import "normalice.styl"
* 
	margin 0
	padding 0

figure img
	width 128px

article 
	display inline-block

@media screen and (max-width: 440px)
	body
		background red 

@media screen and (min-width: 768px)
	body
		background blue
