@import "normalice.styl"
@import "fonts.styl"

/* VARIABLES */

gris_claro = #D0D2D3
gris_oscuro = #333333 
color_borde = #818181
varela = 'Varela Round'

body
	/*text-align center*/
	font-size 16px
	font-family: varela

a
	text-decoration none

img
	vertical-align top

li 
	list-style none

figure 
	margin 0

ul
	margin 0
	padding 0

.header, .songs, .songs-playing
	text-align center

.header
	height 2.2em
	padding 0 0 1.625em 0
	position relative
	border-bottom 1px solid gris_claro

	.header-desktop
		display none

	.header-title
		line-height 2.2em
		margin 0
		color gris_oscuro

	.header-menuBtn
		position absolute
		top 35%
		left 1.5em
		color gris_oscuro

	.header-hide-container
		display none

.songs
	font-size 0 /* esto es para limpiar las propiedades de texto que tiene display:inline-block */
	padding: 1.4rem

.songs-container 
	display inline-block
	font-size 1rem
	padding 0 1em 0 0
	text-align left

	img
		width 128px

	&:nth-child(even)
		padding-right 0	

.songs-description-container

	.songs-title 
		margin-top 1em
		margin-bottom 0
		color gris_oscuro

	.songs-description
		margin-top 0
		margin-bottom 1em
		color gris_claro

.songs-playing-container
	margin-top 2em
	.songs-playing
		&.small
			/*width 20em
			margin 0 auto*/
		.actions
			a
				color #fff
				font-size 1.8em
				margin-right 0.5em
		.controls a
			font-size 1.5em

			&:nth-child(even)
				color gris_oscuro
			&:nth-child(odd)
				color gris_claro

		.songs-imageContainer 
			position relative

			img
				width 100%

			.actions
				background-color rgba(0, 0, 0, 0.3)
				bottom 0
				left 0
				padding 0.5em 0
				position absolute
				right 0
				text-align right
				width 100%
		.progress
			margin-top 1.25em
			position relative
	
			span
				font-size 0.75em
				color gris_oscuro

				&:first-child
					left 0
					position absolute
					top -5px
				&:last-child
					position absolute
					right 0
					top -5px
			.total
				background-color gris_claro
				border-radius 5px
				height 5px
				width 80%
				margin 0 auto
				.state
					background-color #CC2F6F
					border-radius 5px
					height 5px
					position relative
					width 30%
					.circle
						background-color black
						border-radius 50%
						height 10px
						position absolute
						right 0
						width 10px
						bottom -2px

	.songs-playing-list
		display none
 
 /* MEDIA QUERIES  */ 
 
 @media screen and (min-width:480px)
	
	.songs-container
		&:nth-child(even)
			padding-right 1em

	.songs-playing-container

		.songs-playing
			&.medium
				width auto
			/*.songs-imageContainer
				img
					width 100%*/

@media screen and (min-width:1000px)	
	body 
		/*background-color blue*/
		
	.header
		margin 1.625em 0
		position relative
		text-align left

		.header-desktop
			display block
			margin 0 auto
			overflow hidden
			width 90%
			position relative
			.header-user
				width 10em
				position absolute
				top 0.3em
				right 0
				left 0
				figure 
					float left
					margin 0 0.5em 0 0
				span
					margin 0 0.5em 0 0
				img
					width 38px
					border-radius 50%
				&:after
					content ""
					display inline-block
					border-top 10px solid gris_oscuro
					border-right 10px solid transparent
					border-bottom 10px solid transparent
					border-left 10px solid transparent
					bottom 0.5em
					position absolute
					cursor pointer
			.header-logo
				img
					width 122px

		.header-hide-container
			display block
			.header-search
				position absolute
				left 50%
				top 0
				form 
					position relative
				.header-searchInput
					border 1px solid gris_claro
					border-radius 5px
					height 2.5em
					padding 0 1em 0 2em
					
				.icon-search
					position absolute
					left 0.5em
					top 0.8em
					color gris_claro
					border-right 2px solid gris_claro
					padding 0 0.2em 0 0
					a 
						display none
				.close-icon
					a 
						font-size 1em
						color gris_claro
						position absolute
						right 1em
						top 0.7em
			.menu
				background-color red
				overflow hidden
				margin 0 auto
				width 90%
				.menu-list
					position absolute
					top 100%
					li 
						float left	
					.menu-listLink
						color gris_oscuro
						display block
						text-transform uppercase
						padding 1em
						&:hover, &.active
							border-top 4px solid color_borde
							padding-top 0.75em
		.header-mobile
			display none

	.songs-playing-container
		width 90%
		margin 0 auto
		margin-top 4em
		overflow hidden

		.songs-playing
			&.large
				background-color blue
				float left
				width 29.75em

		.songs-playing-list
			display block
			width 32em
			background-color green
			float right

		
	


	
